
<h1>Add a new album</h1>

<form action="/triangle" method="post">
  <div class="form-group">
    <label for="side_lengths">Enter Sides</label>
    <input id="a" name="album_name" class="form-control" type="text">
    <input id="b" name="album_name" class="form-control" type="text">
    <input id="c" name="album_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
